
<div class="container-grid">
    <div class="style__dividerSobreConfeiteira">
        <img [src]="imgSobreConfeiteira" alt="">
        <h2>Quem sou eu</h2>
    </div>
    <div class="style__textConfeiteraAndImg">
        <div class="style__textConfeiteira">
            <p>Me chamo Francisca Gonçalves proprietaria da Delicias Kiss. Faz 10 anos que me aposentei e, decidi me aventurtar
                da confeitaria onde, me sinto completa e realizada a cada projeto entregue.
            </p>
            <p>O mundo da confeitaria sempre me encantou desde minha infancia. Lembro-me do cheiro do bolo assando no forno, o
                brigadeiro cozinhando na panela, a delicadeza de cada doce. E foi na confeitaria que encontrei minha vocação e
                paixão: deixar a vida mais leve, gostosa e doce.
            </p>
        </div>
        <div class="style__imgAndText">
            <img [src]="imgConfeiteira" alt="">
            <h3>Francisca, Chef cook</h3>
        </div>
    </div>
</div>

